@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --body-font: "Montserrat", sans-serif;
  --font-medium: 500;
  --font-semi-bold: 600;
  --hue-color: 220;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
}

body {
  margin: 0 !important;
  font-family: var(--body-font);
}

.tiasa-header {
  display: flex;
  background-color: var(--first-color);
  color: var(--text-color);
  width: 100%;
  position: fixed;
  top: 0;
  gap: 1em;
}

.title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.back {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.back:hover {
  color: var(--first-color-alt);
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
  margin-top: 5rem;
  align-items: center;
  padding-left: 45%;
  padding-right: 45%;
}

.home__blob-img {
  width: 200px;
  align-items: center;
}

.home__container {
  gap: 1rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.tiasa-container {
  color: var(--text-color);
  text-align: center;
}

.footer {
  color: var(--text-color);
  text-align: center;
  margin-top: 2.5rem;
}
