body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #21df86;
  position: fixed;
  width: 100%;
  top: 0;
}

.header p {
  margin-left: 2vw;
}

.header a {
  margin-left: 1vw;
  padding: 1vw;
  text-decoration: none;
}

.content {
  text-align: center;
  border: 1px solid black;
  width: 80vw;
  margin: 10vw auto;
}

.content img {
  width: 25vw;
  height: 20vw;
}

h1 {
  color: blueviolet;
}

.contact-me {
  text-align: center;
  border: 1px solid black;
  width: 80vw;
  margin: 10vw auto;
}
