.header {
    background-color: blue;
    color: black;
    display: flex;
}
.header a{
    padding: 10px 10px;
}
.data h1{
    color: red;
}
.gambar img{
    height: 90px;
    width: 80px;
    border: 2px solid blue;
}
