@font-face {
  font-family: harryPotter;
  src: url(/profile/channy/HarryPotter.TTF);
}

@font-face {
  font-family: harvestMoon;
  src: url(/profile/channy/HarvestMoonBTN.ttf);
}

body {
  font-family: harryPotter;
  color: rgb(162, 224, 248);
}

h1 {
  font-size: 50px;
}

p {
  font-family: harvestMoon;
  color: black;
}

.profile-channy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.image {
  flex: 50%;
}

.image img {
  height: 500px;
  border: 1px solid rgb(162, 224, 248);
}

.intro {
  flex: 50%;
}
