body {
    margin: 0 !important;
}

a:visited {
  color: inherit;
}

h1 {
  color: blue;
}

.red-text {
  color: red;
}

#green-text {
  color: green;
}

.yogie-container {
  background-color: black;
  color: white;
}

.box-model {
  border: 1px solid black;
  padding: 10vw;
  margin: 10vw;
}

.yogie-header {
  display: flex;
  background-color: blue;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
}

.yogie-header p {
    margin-left: 1vw;
    font-size: 1rem;
}

.yogie-container img {
    width: 50vw;
}
