header {
	margin-top: 50px;
	margin-bottom: 50px;
}
.head {
	margin: auto;
	display: flex;
	margin-bottom: 50px;
	font-size: 30px;
	color: red;
	font-family: fantasy;

}

.hero {
	font-size: 20px;
	color: blue;
	font-family: monospace;
}

.kolom {
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	color: currentColor;
	margin-top: 50px;
	margin-bottom: 50 px;
	display: flex;
	
}

.kolom p {
	margin-right: 200px;
	font-size: 30px;
}

h3 {
 	font-family: cursive;
 	color: skyblue;
 	font-size: 20px;
 	margin-bottom: 20px;
 	width: 100%;
 	line-height: 50px;


 }
 