.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: rgb(174, 246, 248);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color:coral;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(174, 246, 248);
  }
  .card button:hover {
    opacity: 0.7;
  }